<app-navbar></app-navbar>
<div class="container-fluid  h-100">
  <div class ="row fullheight  h-100">
    <div class="col-lg-3 sidebar">
    <app-sidebar-candidate></app-sidebar-candidate> 
    </div>
    <div class="col-lg-9 container-principal">
        <div class="container-fluid mt-3 pc">
          <form action="" [formGroup]="form" (ngSubmit)="send()">
              <h1>Estudios</h1>
            <mat-card>
               <mat-card-title class="custom-card">Tu formación académica</mat-card-title>
               <mat-card-content>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Nivel de Estudios</mat-label>
                            <mat-select formControlName="nivelEstudios" >
                              <mat-option value="option">Media (Bachiller)</mat-option>
                              <mat-option value="option">Tecnico Profesional</mat-option>
                              <mat-option value="option">Tecnológica</mat-option>
                              <mat-option value="option">Universitaria</mat-option>
                              <mat-option value="option">Especialización</mat-option>
                              <mat-option value="option">Maestría</mat-option>
                              <mat-option value="option">Doctorado</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Estado</mat-label>
                            <mat-select formControlName="estado" >
                              <mat-option value="option">Culminado</mat-option>
                              <mat-option value="option" (change)="validateStatus($event)">En Curso</mat-option>
                              <mat-option value="option">Aplazado</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Titulo Otorgado</mat-label>
                          <input formControlName="tituloOtorgado" matInput placeholder="Titulo Otorgado">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Fecha de Inicio</mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName="fechaInicio">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1 [calendarHeaderComponent] ></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Fecha de Finalización</mat-label>
                            <input matInput [matDatepicker]="picker2" formControlName="fechaFinalizacion">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2 [calendarHeaderComponent] ></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Nombre de la Institución</mat-label>
                          <input formControlName="nombreInstitucion" matInput placeholder="Nombre Institucion">
                        </mat-form-field>
                    </div>
                </div>
              </mat-card-content>              
            </mat-card>            
            <mat-card-actions>
                <div class="row">
                  <ng-template matStepLabel>Finalizar</ng-template>
                  <div class="col-md-12" style="text-align: center;">
                    <button mat-raised-button color="accent" mat-button type="submit">Adjuntar Certificado</button>
                    <button mat-raised-button color="primary" mat-button type="submit">Guardar Información</button>
                    <button mat-raised-button [routerLink]="['/candidate-cv']" color="primary" mat-button type="submit">Volver</button>
                  </div>
                </div>
            </mat-card-actions>
          </form>
        </div>
    </div>

  </div>
</div>