<div class="bg-image"></div>
<div class="container mt-5 pc">
    <mat-card>
        <mat-card-title>Registro de empresa</mat-card-title>
        <mat-card-content>

            <div class="row mt-5" >
                <div class="col-md-12" >
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Razón social</mat-label>
                                <input  matInput  placeholder="Razon social" [(ngModel)]="enterprise.razonSocial" required>
                            </mat-form-field>
                        </div>
                        <div class="col">
                           <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>NIT</mat-label>
                                <input  matInput  placeholder="NIT" [(ngModel)]="enterprise.nit" required>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Actividad principal</mat-label>
                                <input  matInput  placeholder="Actividad principal" [(ngModel)]="enterprise.actividadPrincipal" required>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline"  >
                                <mat-label>Email administrativo</mat-label>
                                <input  matInput  placeholder="Email" [(ngModel)]="enterprise.email" required>
                            </mat-form-field>
                        </div>
                         <div class="col">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline"> 
                                <mat-label>Confirmar Email</mat-label>
                                <input  matInput  placeholder="Confirmar Email" [(ngModel)]="enterprise.email2" required>
                            </mat-form-field>
                         </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Contraseña</mat-label>
                                <input  type="password" matInput  placeholder="Contraseña" [(ngModel)]="enterprise.password" required>
                            </mat-form-field>
                        </div>
                         <div class="col">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Confirmar Contraseña</mat-label>
                                <input  type="password" matInput  placeholder="Confirmar contraseña" [(ngModel)]="enterprise.password2" required> 
                            </mat-form-field>
                         </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Telefono</mat-label>
                                <input  type="number" matInput  placeholder="Telefono" [(ngModel)]="enterprise.telefono" required>
                            </mat-form-field>
                        </div>
                         <div class="col">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Dirección</mat-label>
                                <input  type="text" matInput  placeholder="Dirección" [(ngModel)]="enterprise.direccion" required>
                            </mat-form-field>
                         </div>
                    </div>
                </div>
            </div>

          </mat-card-content>
          <mat-card-actions>
              <div class="row">
                  <div class="col-md-12" style="text-align: center;">
                      <button  mat-raised-button color="primary" (click)="saveNewEnterprise()">Registrar empresa</button>
                      <a mat-raised-button [routerLink]="['/login']" >Volver al login</a>
                    </div>
                </div>
            </mat-card-actions>   
        
    </mat-card>
</div>
