<div class="bg-image"></div>
<div class="container mt-5 pc">
    <mat-card>
        <mat-card-title>Registro de usuario</mat-card-title>
        <mat-card-content>
            <!--<form action="" [formGroup]="form"> -->
            <div class="row mt-5" >
                <div class="col-md-12" >
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <input matInput  placeholder="Nombre" [(ngModel)]="user.nombre" required>
                            </mat-form-field>
                        </div>
                        <div class="col">
                           <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Apellido</mat-label>
                                <input matInput  placeholder="Email" [(ngModel)]="user.apellido" required>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput  placeholder="Email" [(ngModel)]="user.email" required>
                            </mat-form-field>
                        </div>
                         <div class="col">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Confirmar Email</mat-label>
                                <input matInput  placeholder="Confirmar Email" [(ngModel)]="user.email2" required>
                            </mat-form-field>
                         </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Contraseña</mat-label>
                                <input type="password" matInput  placeholder="Contraseña" [(ngModel)]="user.password" required>
                            </mat-form-field>
                        </div>
                         <div class="col">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Confirmar Contraseña</mat-label>
                                <input type="password" matInput  placeholder="Confirmar contraseña" [(ngModel)]="user.password2" required>
                            </mat-form-field>
                         </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Telefono</mat-label>
                                <input type="number" matInput  placeholder="Telefono" [(ngModel)]="user.telefono" required>
                            </mat-form-field>
                        </div>
                         <div class="col">
                            <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                <mat-label>Dirección</mat-label>
                                <input type="text" matInput  placeholder="Dirección residencia" [(ngModel)]="user.direccion" required>
                            </mat-form-field>
                         </div>
                    </div>
                </div>
            </div>
            <!--</form>-->
          </mat-card-content>
          <mat-card-actions>
              <div class="row">
                  <div class="col-md-12" style="text-align: center;">
                      <button  mat-raised-button color="primary" (click)="saveNewUser()">Registrarme</button>
                      <a mat-raised-button [routerLink]="['/login']" >Volver al login</a>
                    </div>
                </div>
            </mat-card-actions>   
    
    </mat-card>
</div>
