<div class="container p-3">
    <mat-list>
    <div mat-subheader class="white">Perfil </div>
    <mat-list-item *ngFor="let enterprise of folders" [routerLink]="enterprise.link">
        <div mat-line class="white">{{enterprise.name}}</div>
    </mat-list-item>
    <mat-divider class="white"></mat-divider>
    </mat-list>
</div> 
