.sidebar{
    background-color: #303F9F;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .card-header{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        background-color: black;
        color: white;
        text-transform: uppercase;
  }
  .subtitle{
    color: white;
  }
  .mat-card-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 30%;
  }

  .options{
    background-color: rgb(209, 206, 206);
  }