<app-navbar></app-navbar>
<div class="container-fluid  h-100">
    <div class ="row fullheight  h-100">
        <div class="col-lg-3 sidebar">
                <app-sidebar-enterprise></app-sidebar-enterprise>
            </div>
        <div class="col-lg-9 container-principal">
            <div class="container-fluid mt-4">
                <mat-card>
                    <img mat-card-image src="https://coverfiles.alphacoders.com/412/41257.jpg" alt="Photo of enterprise">
                    <mat-card-header class="card-header">
                        <div  mat-card-avatar  class = "example-header-image" > </div > 
                        <mat-card-title>{{enterpriseInfo.razonSocial}}</mat-card-title>
                        <mat-card-subtitle class="subtitle">Bienvenido a la bolsa de empleo</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                        Descripción de la empresa, mision visión. Descripción de la empresa, mision visión. 
                        Descripción de la empresa, mision visión. Descripción de la empresa, mision visión. 
                        Descripción de la empresa, mision visión. Descripción de la empresa, mision visión. 
                        Descripción de la empresa, mision visión. Descripción de la empresa, mision visión.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
