<app-navbar></app-navbar>
<div class="container-fluid  h-100">
  <div class ="row fullheight  h-100">
    <div class="col-lg-3 sidebar">
    <app-sidebar-candidate></app-sidebar-candidate> 
    </div>
    <div class="col-lg-9 container-principal">
        <div class="container-fluid mt-3 pc">
          <form action="" [formGroup]="form" (ngSubmit)="send()">
            <mat-card>
               <mat-card-title class="custom-card">Agregando tu experiencia laboral</mat-card-title>
               <mat-card-content>
                <div class="row mt-5">
                    <div class="col-md-4">
                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                      <mat-label>Nombre de la empresa</mat-label>
                      <input formControlName="nombreEmpresa" matInput placeholder="Nombre Empresa">
                    </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Fecha de Inicio</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="fechaInicio">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker [calendarHeaderComponent] ></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Fecha de Finalización</mat-label>
                            <input matInput [matDatepicker]="picker2" formControlName="fechaFinalizacion">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2 [calendarHeaderComponent] ></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mt-5">
                    <h2>Información del cargo</h2>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                        <mat-label>Nombre del cargo</mat-label>
                        <input formControlName="nombreCargo" matInput placeholder="Nombre Cargo">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Nivel del Cargo</mat-label>
                            <mat-select formControlName="nivelCargo">
                              <mat-option value="option">Presidente</mat-option>
                              <mat-option value="option">Vicepresidente</mat-option>
                              <mat-option value="option">Gerente</mat-option>
                              <mat-option value="option">Coordinador supervisor o especialista</mat-option>
                              <mat-option value="option">Profesional Senior</mat-option>
                              <mat-option value="option">Profesional Junior</mat-option>
                              <mat-option value="option">Auxiliar, Asistente y Otros</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Area o Departamento del cargo</mat-label>
                          <input formControlName="areaDepartamento" matInput placeholder="Area Cargo">
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Tus logros y responsabilidades</mat-label>
                          <textarea matInput formControlName="logrosRespon"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mt-5">
                    <h2>Detalles de la Empresa</h2>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                        <mat-label>Telefono</mat-label>
                        <input formControlName="telefonoEmpre" matInput placeholder="Telefono">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Ciudad</mat-label>
                          <input formControlName="ciudadEmpre" matInput placeholder="Ciudad">
                        </mat-form-field>
                    </div>
                </div>
                </mat-card-content>
            </mat-card>

            <mat-card-actions>
                <div class="row">
                  <ng-template matStepLabel>Finalizar</ng-template>
                  <div class="col-md-12" style="text-align: center;">
                    <button mat-raised-button color="accent" mat-button type="submit">Adjuntar Certificado</button>
                    <button mat-raised-button color="primary" mat-button type="submit">Guardar Información</button>
                    <button mat-raised-button [routerLink]="['/candidate-cv']" color="primary" mat-button type="submit">Volver</button>
                  </div>
                </div>
            </mat-card-actions>
          </form>
        </div>
    </div>
  </div>
</div>