.bg-image {
  /* The image used */
  background-image: url("../../../../assets/background.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 
.pc{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
} */

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.example-check~ .example-check{
  margin-left: 16px;
}

.sidebar{
background-color: #303F9F;
}