<app-navbar></app-navbar>
<div class="container-fluid  h-100">
  <div class ="row fullheight  h-100">
    <div class="col-lg-3 sidebar">
    <app-sidebar-candidate></app-sidebar-candidate> 
    </div>
    <div class="col-lg-9 container-principal">
        <div class="container-fluid mt-3 pc">
          <form action="" [formGroup]="form" (ngSubmit)="send()">
              <h1>Registro de Hoja de Vida</h1>
            <mat-card>
               <mat-card-title class="custom-card">Tu Información Personal</mat-card-title>
               <mat-card-content>
                <div class="row mt-5">
                  <div class="col-md-12 mb-4" >
                    <img src= "/assets/images/img2.png"  *ngIf="downloadUrl==null"  class="rounded-circle" style="height: 110px; width: 110px;" alt="">
                    <img [src]="downloadUrl"  *ngIf="downloadUrl!=null"  class="rounded-circle" style="height: 110px; width: 110px;" alt="">
                    <input class="ml-4" type="file" class="btn" formControlName="imagen"  (change)="handleImage($event)">  
                  </div>
                    <div class="col-md-4">
                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                      <mat-label>Nombres del candidato</mat-label>
                      <input formControlName="nombres" matInput placeholder="Nombre Candidato">
                    </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Primer Apellido</mat-label>
                          <input formControlName="apellido1" matInput placeholder="Primer Apellido">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Segundo Apellido</mat-label>
                          <input formControlName="apellido2" matInput placeholder="Segundo Apellido">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-4">
                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                      <mat-label>Tipo de Identificación</mat-label>
                      <input formControlName="tipoIdentificacion" matInput placeholder="Tipo Identificación">
                    </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Número de Identificación</mat-label>
                          <input formControlName="numeroIdentificación" matInput placeholder="Numero Identificación">                          
                          <mat-hint>Si tienes algún inconveniente con tu documento comunicate con help@Abe.com</mat-hint>
                        </mat-form-field>
                    </div>                 
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Ciudad de Nacimiento</mat-label>
                          <input formControlName="ciudadNacimiento" matInput placeholder="Ciudad Nacimiento">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Fecha de Nacimiento</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker [calendarHeaderComponent] ></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Genero</mat-label>
                            <mat-select formControlName="genero" >
                              <mat-option value="Femenino">Femenino</mat-option>
                              <mat-option value="Masculino">Masculino</mat-option>
                              <mat-option value="No Especificar">No Especificar</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Estado Civil</mat-label>
                            <mat-select formControlName="estadoCivil" >
                              <mat-option value="Casado(a)">Casado(a)</mat-option>
                              <mat-option value="Soltero(a)">Soltero(a)</mat-option>
                              <mat-option value="Union Libre">Union Libre</mat-option>
                              <mat-option value="Divorciado(a)">Divorciado(a)</mat-option>
                              <mat-option value="Viudo(a)">Viudo(a)</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <h2>¿Dónde vives?</h2>
                <div class="row mt-5">                    
                    <div class="col-md-6">
                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                      <mat-label>Ciudad de Residencia</mat-label>
                      <input formControlName="CiudadResidencia" matInput placeholder="Ciudad Residencia">
                    </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Dirección de Residencia</mat-label>
                          <input formControlName="DireccionResidencia" matInput placeholder="Dirección Residencia">
                        </mat-form-field>
                    </div>
                </div>
                <h2>¿Cómo te pueden contactar?</h2>
                <div class="row mt-5">                    
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Telefono Principal</mat-label>
                          <input formControlName="telefonoPrincipal" matInput placeholder="Telefono Principal">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Telefono Secundario</mat-label>
                            <input formControlName="telefonoSecundario" matInput placeholder="Telefono Secundario">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Correo Electrónico</mat-label>
                            <input formControlName="correoElectronico" matInput placeholder="Correo Electronico">
                        </mat-form-field>
                    </div>
                </div>
              </mat-card-content>              
            </mat-card>
            <hr>
            <mat-card>
                <mat-card-title class="custom-card">Tus trabajos</mat-card-title>
                <mat-card-content>
                    <div class="row mt-5">
                     <div class="col-md-4">
                     <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                       <mat-label>Profesión</mat-label>
                       <input formControlName="profesion" matInput placeholder="Profesion">
                     </mat-form-field>
                     </div>
                     <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Aspiración Salarial</mat-label>
                            <input type="text" placeholder="Aspiracion Salarial" aria-label="Number" matInput formControlName="aspiracionSalarial"
                              [matAutocomplete]="auto">
                            <span matPrefix>$&nbsp;</span>
                            <mat-autocomplete #auto="matAutocomplete">
                              <mat-option *ngFor="let option of options" [value]="option">
                                {{option}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                     </div>
                     <div class="col-md-4">
                        <h4>¿Disponible para movilidad laboral?</h4>
                        <mat-radio-group formControlName="movilidadLaboral">
                            <mat-radio-button value="1">Si</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>
                     </div>
                     <div class="col-md-12">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Perfil Laboral</mat-label>
                          <textarea matInput formControlName="perfilLaboral"></textarea>
                        </mat-form-field>
                      </div>
                      
                      <!-- Experiencia laboral Es importante optimizar este html mas adelante -->
                      <div class="container-fluid mt-3 pc" formArrayName="experienciaLaboral" *ngFor="let experienciaa of experiencias.controls let i = index">
                          <mat-card>
                             <mat-card-title class="custom-card">Agregando tu experiencia laboral</mat-card-title>
                             <mat-card-content [formGroupName]="i">
                              <div class="row mt-5">
                                  <div class="col-md-4">
                                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                    <mat-label>Nombre de la empresa</mat-label>
                                    <input formControlName="nombreEmpresa" matInput placeholder="Nombre Empresa">
                                  </mat-form-field>
                                  </div>
                                  <div class="col">
                                      <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                          <mat-label>Fecha de Inicio</mat-label>
                                          <input matInput [matDatepicker]="picker" formControlName="fechaInicio">
                                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                          <mat-datepicker #picker [calendarHeaderComponent] ></mat-datepicker>
                                      </mat-form-field>
                                  </div>
                                  <div class="col">
                                      <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                          <mat-label>Fecha de Finalización</mat-label>
                                          <input matInput [matDatepicker]="picker2" formControlName="fechaFinalizacion">
                                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                          <mat-datepicker #picker2 [calendarHeaderComponent] ></mat-datepicker>
                                      </mat-form-field>
                                  </div>
                              </div>
                              <div class="row mt-5">
                                <div class="col-md-12">
                                  <h2>Información del cargo</h2>
                                </div>
                                  <div class="col-md-4">
                                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                      <mat-label>Nombre del cargo</mat-label>
                                      <input formControlName="nombreCargo" matInput placeholder="Nombre Cargo">
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-4">
                                      <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                          <mat-label>Nivel del Cargo</mat-label>
                                          <mat-select formControlName="nivelCargo">
                                            <mat-option value="Presidente">Presidente</mat-option>
                                            <mat-option value="Vicepresidente">Vicepresidente</mat-option>
                                            <mat-option value="Gerente">Gerente</mat-option>
                                            <mat-option value="Coordinador supervisor o especialista">Coordinador supervisor o especialista</mat-option>
                                            <mat-option value="Profesional Senior ">Profesional Senior</mat-option>
                                            <mat-option value="Profesional Junior">Profesional Junior</mat-option>
                                            <mat-option value="Auxiliar Asistente y Otros">Auxiliar, Asistente y Otros</mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-4">
                                      <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                        <mat-label>Area o Departamento del cargo</mat-label>
                                        <input formControlName="areaDepartamento" matInput placeholder="Area Cargo">
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-12">
                                      <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                        <mat-label>Tus logros y responsabilidades</mat-label>
                                        <textarea matInput formControlName="logrosRespon"></textarea>
                                      </mat-form-field>
                                  </div>
                              </div>
                              <div class="row mt-5">
                                <div class="col-md-12">
                                  <h2>Detalles de la Empresa</h2>
                                </div>
                                  <div class="col-md-4">
                                      <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                      <mat-label>Telefono</mat-label>
                                      <input formControlName="telefonoEmpre" matInput placeholder="Telefono">
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-4">
                                      <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                        <mat-label>Ciudad</mat-label>
                                        <input formControlName="ciudadEmpre" matInput placeholder="Ciudad">
                                      </mat-form-field>
                                  </div>
                              </div>
                              </mat-card-content>
                          </mat-card>
              
                          <mat-card-actions>
                              <div class="row">
                                <ng-template matStepLabel>Finalizar</ng-template>
                                <div class="col-md-12" style="text-align: center;">
                                  <button mat-raised-button color="accent" mat-button (click)="addExperience()">Agregar experiencia</button>
                                  <button mat-raised-button color="accent" mat-button type="submit">Adjuntar Certificado</button>
                                </div>
                              </div>
                          </mat-card-actions>
                      </div>
                      
                    <!-- Experiencia laboral Es importante optimizar este html mas adelante -->
                      <h2 class ="experience-title"> Tu experiencia laboral</h2>
                      
                      <div class="col-md-12" style="text-align: center;">
                        <button type="button" mat-raised-button (click)="addLaboralExperience()" color="accent" mat-button>
                            <mat-icon>add</mat-icon> Agregar experiencia
                        </button>
                      </div>

                      <div class="col-md-12" *ngIf="curriculum">
                          <div *ngFor="let exp of curriculum.experience let i = index">
                            <mat-card class="example-card card-element">
                              <mat-card-header>
                                  <mat-card-title>{{exp.enterpriseName}}</mat-card-title>
                                  <mat-card-subtitle>{{exp.area}}</mat-card-subtitle>
                              </mat-card-header>
                              <mat-card-content class="header-content">
                                  <p>
                                    <strong>Nombre de la empresa: </strong>{{exp.enterpriseName}}
                                  </p>
                                  <p>
                                    <strong>Telefono de la empresa: </strong>{{exp.enterprisePhone}}
                                  </p>
                              </mat-card-content>
                              <mat-card-actions>
                                  <a mat-button color="accent">Ver Detalles</a>
                                  <a mat-button color="accent" (click)="deleteExp(i)">Eliminar</a>
                              </mat-card-actions>
                            </mat-card>
                          </div>
                      </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <hr>
            <mat-card>
                <mat-card-title class="custom-card">Tus estudios</mat-card-title>
                <mat-card-content>                   
                    <div class="row mt-5">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Carrera Principal</mat-label>
                          <input formControlName="carreraPrincipal" matInput placeholder="Carrera Principal">
                        </mat-form-field>  
                    </div>        
                      <div class="col-md-12" style="text-align: left;">     
                        <div class="container-fluid mt-3 pc" formGroupName="formacionAcademica">
                                <div class="row mt-2">
                                  <div class="col-md-12">
                                    <h2>Tu formación académica</h2>
                                  </div>       
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                            <mat-label>Nivel de Estudios</mat-label>
                                            <mat-select formControlName="nivelEstudios" >
                                              <mat-option value="Media (Bachiller)">Media (Bachiller)</mat-option>
                                              <mat-option value="Tecnico">Tecnico Profesional</mat-option>
                                              <mat-option value="Tecnológica">Tecnológica</mat-option>
                                              <mat-option value="Universitaria">Universitaria</mat-option>
                                              <mat-option value="Especialización">Especialización</mat-option>
                                              <mat-option value="Maestría">Maestría</mat-option>
                                              <mat-option value="Doctorado">Doctorado</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                            <mat-label>Estado</mat-label>
                                            <mat-select formControlName="estado" >
                                              <mat-option value="Culminado">Culminado</mat-option>
                                              <mat-option value="En curso" (change)="validateStatus($event)">En Curso</mat-option>
                                              <mat-option value="Aplazado">Aplazado</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                          <mat-label>Titulo Otorgado</mat-label>
                                          <input formControlName="tituloOtorgado" matInput placeholder="Titulo Otorgado">
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                            <mat-label>Fecha de Inicio</mat-label>
                                            <input matInput [matDatepicker]="picker1" formControlName="fechaInicio">
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1 [calendarHeaderComponent] ></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                            <mat-label>Fecha de Finalización</mat-label>
                                            <input matInput [matDatepicker]="picker2" formControlName="fechaFinalizacion">
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2 [calendarHeaderComponent] ></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                          <mat-label>Nombre de la Institución</mat-label>
                                          <input formControlName="nombreInstitucion" matInput placeholder="Nombre Institucion">
                                        </mat-form-field>
                                    </div>
                                </div>           
                            <mat-card-actions>
                                <div class="row">
                                  <ng-template matStepLabel>Finalizar</ng-template>
                                  <div class="col-md-12" style="text-align: center;">
                                    <button mat-raised-button color="accent" mat-button type="submit">Adjuntar Certificado</button>
                                  </div>
                                </div>
                            </mat-card-actions>
                        </div>

                      </div>
                      <div class="col-md-12" style="text-align: left;">            
                        <h2>Estudios complementarios</h2>

                        <div class="container-fluid mt-3 pc" formArrayName="otrosEstudios" *ngFor="let estudios of otrosEstudios.controls let i = index">
                            <mat-card>
                               <mat-card-title class="custom-card">Tu formación complementaria</mat-card-title>
                               <mat-card-content>
                                <div class="row mt-5" [formGroupName]="i">
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                            <mat-label>Tipo de Estudio</mat-label>
                                            <mat-select formControlName="tipoEstudio">
                                              <mat-option value="Diplomado">Diplomado</mat-option>
                                              <mat-option value="Seminario">Seminario</mat-option>
                                              <mat-option value="Certificación">Certificación</mat-option>
                                              <mat-option value="Taller">Taller</mat-option>
                                              <mat-option value="Otro">Otro</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                          <mat-label>Titulo Otorgado</mat-label>
                                          <input formControlName="tituloOtorgado" matInput placeholder="Titulo Otorgado">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                          <mat-label>Institución</mat-label>
                                          <input formControlName="institucion" matInput placeholder="Institucion">
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                            <mat-label>Fecha de Inicio</mat-label>
                                            <input matInput [matDatepicker]="picker" formControlName="fechaInicio">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker [calendarHeaderComponent] ></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                            <mat-label>Fecha de Finalización</mat-label>
                                            <input matInput [matDatepicker]="picker2" formControlName="fechaFinalizacion">
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2 [calendarHeaderComponent] ></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                          <mat-label>Ciudad</mat-label>
                                          <input formControlName="ciudad" matInput placeholder="Ciudad">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                          <mat-label>Descripción del curso</mat-label>
                                          <textarea matInput formControlName="descripcion"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                              </mat-card-content>              
                            </mat-card>            
                            <mat-card-actions>
                                <div class="row">
                                  <ng-template matStepLabel>Finalizar</ng-template>
                                  <div class="col-md-12" style="text-align: center;">
                                    <button mat-raised-button color="accent" mat-button (click)="addComplementaryStudy()">Guardar Estudio Complementario</button>
                                    <button mat-raised-button color="accent" mat-button type="submit">Adjuntar Certificado</button>
                                  </div>
                                </div>
                            </mat-card-actions>
                        </div>

                        <button mat-raised-button color="accent" mat-button type="button" (click)="addOtherStudies()">
                            <mat-icon>add</mat-icon> Agregar estudio
                        </button>
                      </div>
                      <div class="col-md-12" *ngIf="curriculum">
                          <div *ngFor="let study of curriculum.studies let i = index">
                            <mat-card class="example-card card-element">
                              <mat-card-header>
                                  <mat-card-title>{{study.studyTitle}}</mat-card-title>
                                  <mat-card-subtitle>{{study.institution}}</mat-card-subtitle>
                              </mat-card-header>
                              <mat-card-actions>
                                  <a mat-button color="accent">Ver Detalles</a>
                                  <a mat-button color="accent" (click)="deleteComplementary(i)">Eliminar</a>
                              </mat-card-actions>
                            </mat-card>
                          </div>
                      </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <hr>
            <mat-card>
                <mat-card-title class="custom-card">Tus idiomas</mat-card-title>
                <mat-card-content>                   
                    <div class="row mt-5">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Lengua Nativa</mat-label>
                          <input type="text" formControlName="lenguaNativa" matInput placeholder="Lengua Nativa">
                        </mat-form-field>  
                    </div>  
                  </div>
                    <div formArrayName="idiomas">
                      <div *ngFor="let idiomaa of language.controls let i = index">
                        <div class="row" [formGroupName]="i">
                          <div class="col-md-4">
                            <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                              <input formControlName="idiomaaaa" matInput placeholder="Idioma">
                            </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                <mat-label>Nivel del idioma</mat-label>
                                <mat-select formControlName="nivelIdioma">
                                  <mat-option value="A1">A1</mat-option>
                                  <mat-option value="A2">A2</mat-option>
                                  <mat-option value="B1">B1</mat-option>
                                  <mat-option value="B2">B2</mat-option>
                                  <mat-option value="C1">C1</mat-option>
                                  <mat-option value="C2">C2</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-4" class="mt-2">            
                            <!--deleteLanguage(i)-->
                              <button type="button" mat-raised-button color="accent" mat-button (click)="saveLanguage()">
                                <mat-icon>add</mat-icon> Agregar idioma
                              </button>
                            </div>
                          </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6" style="text-align: left;">            
                        <h2>Otros idiomas</h2>
                        <button type="button" mat-raised-button color="accent" mat-button (click)="addLenguage()">
                          <mat-icon>add</mat-icon> Agregar idioma
                        </button>
                      </div>
                      
                      <div class="col-md-12" *ngIf="curriculum">
                        <div *ngFor="let exp of curriculum.languages let i = index">
                          <mat-card class="example-card card-element">
                            <mat-card-header>
                                <mat-card-title>{{exp.idiom}}</mat-card-title>
                                <mat-card-subtitle>{{exp.level}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-actions>
                                <a mat-button color="accent">Ver Detalles</a>
                                <a mat-button color="accent" (click)="deleteIdiom(i)">Eliminar</a>
                            </mat-card-actions>
                          </mat-card>
                        </div>
                      </div>

                    </div>
                </mat-card-content>
            </mat-card>
            <hr>
            <mat-card>
                <mat-card-title class="custom-card">Tus habilidades</mat-card-title>
                <mat-card-content>                   
                    <div class="row mt-5">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>¿Cuáles son tus mayores destrezas?</mat-label>
                            <textarea matInput formControlName="destrezas"></textarea>
                        </mat-form-field>
                    </div>                   
                    <div class="col-md-4">                         
                        <h3>¿Tiene licencia de conducción?</h3>                       
                      <mat-select-trigger>                        
                        <mat-checkbox class="example-check" value="Si" (change)="validateLicense($event)">Si</mat-checkbox>
                      </mat-select-trigger>
                      <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                        <mat-label>Tipo de licencia</mat-label>
                        <mat-select formControlName="licencia">
                          <mat-option value="A1">A1</mat-option>
                          <mat-option value="A2">A2</mat-option>
                          <mat-option value="B1">B1</mat-option>
                          <mat-option value="B2">B2</mat-option>
                          <mat-option value="C1">C1</mat-option>
                          <mat-option value="C2">C2</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>    
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card-actions>
                <div class="row">
                  <ng-template matStepLabel>Finalizar</ng-template>
                  <div class="col-md-12" style="text-align: center;">
                    <button mat-raised-button color="primary" mat-button type="submit">Guardar Información</button>
                    <a mat-raised-button [routerLink]="['/enterprise-profile']">Página principal</a>
                  </div>
                </div>
            </mat-card-actions>
          </form>
        </div>
    </div>

  </div>
</div>