<app-navbar></app-navbar>
<div class="container-fluid  h-100">
  <div class ="row fullheight  h-100">
    <div class="col-lg-3 sidebar">
      <app-sidebar-enterprise></app-sidebar-enterprise>
    </div>
    <div class="col-lg-9 container-principal">
        <div class="container-fluid mt-3 pc">
          <form action="" [formGroup]="form" (ngSubmit)="send()">
            <mat-card>
              <mat-card-title>Registro de oferta</mat-card-title>
              <mat-card-content>
                <div class="row mt-5">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                      <mat-label>Nombre de la Oferta</mat-label>
                      <input formControlName="nombre" matInput placeholder="Nombre Oferta">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                      <mat-label>Salario</mat-label>
                      <input type="text" placeholder="Salario" aria-label="Number" matInput formControlName="salario"
                        [matAutocomplete]="auto">
                      <span matPrefix>$&nbsp;</span>
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of options" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                      <mat-label>Tipo de contrato</mat-label>
                      <mat-select formControlName="tipoContrato" formControlName="tipoContrato">
                        <mat-option value="option">Termino Indefinido</mat-option>
                        <mat-option value="option">Termino fijo</mat-option>
                        <mat-option value="option">Prestación de Servicios</mat-option>
                        <mat-option value="option">Obra o Labor</mat-option>
                        <mat-option value="option">Contrato de Aprendizaje</mat-option>
                      </mat-select>
                      <mat-hint align="end">Seleccione el tipo de contrato</mat-hint>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                      <mat-label>Ciudad</mat-label>
                      <input formControlName="ciudad" matInput placeholder="Ciudad">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                      <mat-label>Vacantes</mat-label>
                      <input formControlName="vacantes" matInput placeholder="Cantidad de Vacantes">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <h4>Personalizar Información de la Empresa</h4>
                    <mat-radio-group formControlName="infoEmpresa">
                      <mat-radio-button value="1">Ocultar</mat-radio-button>
                      <mat-radio-button value="2">Mostrar</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                      <mat-label>Descripcion de Labores</mat-label>
                      <textarea matInput formControlName="desLabores"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                      <mat-label>Descripcion de Conocimientos</mat-label>
                      <textarea matInput formControlName="desConocimientos"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                      <mat-label>Descripcion de Competencias Profesionales y Laborales</mat-label>
                      <textarea matInput formControlName="desCompetencias"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                      <mat-label>Area</mat-label>
                      <input formControlName="area" matInput placeholder="Area">
                    </mat-form-field>
                  </div>
                </div>  
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                      <mat-label>Nivel de Estudios</mat-label>
                      <mat-select formControlName="nivelEstudios">
                        <mat-option value="option">Bachiller</mat-option>
                        <mat-option value="option">Tecnico</mat-option>
                        <mat-option value="option">Tecnologo</mat-option>
                        <mat-option value="option">Profesional</mat-option>
                        <mat-option value="option">Especialización</mat-option>
                        <mat-option value="option">Maestria</mat-option>
                      </mat-select>
                      <mat-hint align="end">Seleccione el nivel de estudios</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                      <mat-label>Años de Experiencia</mat-label>
                      <input formControlName="experiencia" matInput placeholder="Experiencia">
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                      <mat-label>Fecha de cierre</mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="fechaCierre">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker [calendarHeaderComponent] ></mat-datepicker>
                    </mat-form-field>
                    <!--<mat-form-field appearance="fill">
                      <mat-label>Enter a date range</mat-label>
                      <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>-->
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-md-6">
                    <h2>Requisitos necesarios para la oferta</h2>
                      <mat-select-trigger >
                        <div class="col">
                          <mat-checkbox   class="custom-control-input"  value="Cambio de residencia" class="example-check" (change)="onCheckboxChange($event)" >Cambio de residencia
                            </mat-checkbox>
                        </div>
                        <div class="col">
                          <mat-checkbox  value="Disponibilidad de Viaje"  (change)="onCheckboxChange($event)" class="example-check">Disponibilidad de Viaje</mat-checkbox>
                        </div>
                        <div class="col">
                        <mat-checkbox   value="Aplica personal discapacitado"  (change)="onCheckboxChange($event)" class="example-check">Aplica personal discapacitado</mat-checkbox>
                      </div>
                    </mat-select-trigger>
                  </div>
                  <div class="row"> 
                    <div class="col-md-12">
                      <h3>¿Requiere licencia de conducción?</h3>
                      <mat-select-trigger>
                        <mat-checkbox class="example-check" value="Si" (change)="validateLicense($event)">Si</mat-checkbox>
                      </mat-select-trigger>
                    </div>
                    <div class="col mt-2">
                      <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                        <mat-label>Tipo de licencia</mat-label>
                        <mat-select formControlName="licencia">
                          <mat-option value="A1">A1</mat-option>
                          <mat-option value="A2">A2</mat-option>
                          <mat-option value="B1">B1</mat-option>
                          <mat-option value="B2">B2</mat-option>
                          <mat-option value="C1">C1</mat-option>
                          <mat-option value="C2">C2</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <div class="row">
                  <ng-template matStepLabel>Finalizar</ng-template>
                  <div class="col-md-12" style="text-align: center;">
                    <button mat-raised-button color="primary" mat-button type="submit">Registrar Oferta</button>
                    <a mat-raised-button [routerLink]="['/enterprise-profile']">Página principal</a>
                  </div>
                </div>
              </mat-card-actions>
            </mat-card>
          </form>
        </div>
    </div>

  </div>
</div>



<!--<div class="bg-image"></div>-->



<!--fdsjgjfidshfuydsgfuysdgfhsdbfuisdbiuhfsdnjdnfkjshfiuadgbfysgfvyhbdfuvanksASDFGHJKLQ34WRE4TRHFGVSA   wsqefdsaWQEDFDS
  
  
  <div class="bg-image"></div>
  <div class="container p-3 pc">
    <form [formGroup]="form" (ngSubmit)="send()" >
      <mat-vertical-stepper #stepper>
        <mat-step [stepControl]="" errorMessage="Faltan datos.">
          <ng-template matStepLabel>Ingrese el nombre de la Oferta</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre de la Oferta" formControlName="nombre" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Área</mat-label>
            <input matInput placeholder="Area en la empresa" formControlName="area" required>
          </mat-form-field>
          <div>
            <button type="button" mat-button matStepperNext>Siguiente</button>
          </div>
        </mat-step>
        
        
        <mat-step errorMessage="Faltan datos.">
          <ng-template matStepLabel>Descipción de la Oferta</ng-template>//texarea
          <mat-form-field hintLabel="Max 200 Caracteres" appearance="fill">
            <mat-label>Ingrese información</mat-label>
            <input matInput #input maxlength="200" formControlName="descripcion" placeholder="Descripcion">
          </mat-form-field>
          <div>
            <p>Se recomienda ingresar una descipción detallada.</p>
            <button type="button"  mat-button matStepperPrevious>Anterior</button>
            <button type="button"  mat-button matStepperNext>Siguiente</button>
          </div>
        </mat-step>
        
        <mat-step  errorMessage="Faltan datos.">
          <ng-template matStepLabel>Beneficios de la Oferta</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Vacantes</mat-label>
            <input matInput placeholder="Vacantes de la Oferta" formControlName="vacantes" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label   >Salario</mat-label>
            <mat-select formControlName="salario" > 
              <mat-option value="option">SMLV</mat-option>
              <mat-option value="$1.000.000 a $2.000.000">$1.000.000 a $2.000.000</mat-option>
              <mat-option value="$2.000.000 a $3.000.000">$2.000.000 a $3.000.000</mat-option>
              <mat-option value="Superior a $3.000.000">Superior a $3.000.000</mat-option>
              <mat-option value="A convenir">A convenir</mat-option>
            </mat-select>
            <mat-hint align="end">Seleccione el rango</mat-hint>
          </mat-form-field>
          <div>
            <p>Se recomienda ingresar una descripcion detallada.</p>
            <button type="button" mat-button matStepperPrevious>Anterior</button>
            <button type="button" mat-button matStepperNext>Siguiente</button>
          </div>
        </mat-step>
        
        <mat-step errorMessage="Falta Información.">
          <ng-template matStepLabel>Información de la empresa</ng-template>
          <mat-label>Establecer preferencias</mat-label>
          <br>
          <mat-radio-group aria-label="Select an option"> 
            <mat-radio-button value="1">Ocultar Información de la empresa</mat-radio-button> <br>
            <mat-radio-button value="2">Mostrar Información de la empresa</mat-radio-button>
          </mat-radio-group>
          <div>
            <button type="button" mat-button matStepperPrevious>Anterior</button>
            <button type="button" mat-button matStepperNext>Siguiente</button>
          </div>
        </mat-step>

        <mat-step  errorMessage="Faltan datos.">
                  <ng-template matStepLabel>Requisitos de la oferta</ng-template>
                  <mat-form-field appearance="fill">
                    <mat-label>Meses de Experiencia mínimos</mat-label>
                    <input matInput placeholder="Tiempo Experiencia" formControlName="tiempo" required>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Cargo</mat-label>
                    <input matInput placeholder="Cargo de experiencia" formControlName="cargo" required>
                  </mat-form-field>
                  <div>
                    <button type="button" mat-button matStepperPrevious>Anterior</button>
                    <button type="button" mat-button matStepperNext>Siguiente</button>
                  </div>
                </mat-step>
                
                <mat-step>
                  <ng-template matStepLabel>Finalizar</ng-template>
                  <p>Por favor envie su oferta si ya diligenció los campos anteriores.</p>
                  <div>
                    <button type="button" mat-button matStepperPrevious>Anterior</button>
                    <button mat-button type="submit">Enviar</button>
                  </div>
                </mat-step>
                
                <mat-step>
                  <ng-template matStepLabel>Volver a las ofertas</ng-template>
                  <div>
                    <button type="button"  mat-raised-button color="primary" routerLink="/enterprise-profile">Anterior</button>
                  </div>
                </mat-step>
        </mat-vertical-stepper>
      </form>
    </div>
  -->