<app-navbar></app-navbar>
<div class="container-fluid  h-100">
        <div class ="row fullheight  h-100">
            <div class="col-lg-3 sidebar">
                <div class="container p-3">
                    <mat-list>
                    <div mat-subheader class="white">Empresas</div>
                    <!-- <div mat-subheader class="white" [routerLink]="['/edit-enterprise']">Editar Empresas</div> -->
                    <div mat-subheader class="white">Editar Candidatos</div>
                    <!-- <mat-list-item *ngFor="let folder of folders">
                        <div mat-line class="white">{{folder.name}}</div>
                    </mat-list-item> -->
                    <mat-divider class="white"></mat-divider>
                    </mat-list>
                </div> 
            </div>
            <div class="col-lg-9">
                <h2>Empresas Inscritas</h2>
                <div class="row">
                    <div class="col">
                    <mat-form-field>
                        <mat-label>Buscar Empresas</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                    </mat-form-field>
                    
                    <table mat-table [dataSource]="dataSourceService" class="mat-elevation-z8">
                    
                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>

                        <!-- razonSocial Column -->
                        <ng-container matColumnDef="razonSocial">
                            <th mat-header-cell *matHeaderCellDef> Razon Social </th>
                            <td mat-cell *matCellDef="let element"> {{element.razonSocial}} </td>
                        </ng-container>

                        <!-- NIT Column -->
                        <ng-container matColumnDef="NIT">
                            <th mat-header-cell *matHeaderCellDef> NIT </th>
                            <td mat-cell *matCellDef="let element"> {{element.nit}} </td>
                        </ng-container>
                    
                        <!-- actividadPrincipal Column -->
                        <ng-container matColumnDef="actividadPrincipal">
                        <th mat-header-cell *matHeaderCellDef> Actividad Principal </th>
                        <td mat-cell *matCellDef="let element"> {{element.actividadPrincipal}} </td>
                        </ng-container>
                    
                        <!-- Options Column -->
                        <ng-container matColumnDef="aprobacion" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef> Aprobación </th>
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <mat-slide-toggle disabled [ngModel]="element.activa">  </mat-slide-toggle>
                            </td>
                        </ng-container>
                        <!-- Options Column -->
                        <ng-container matColumnDef="options">                            
                        <th mat-header-cell *matHeaderCellDef > Opciones </th>
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button (click)="editEnterpise(element.uid)" mat-raised-button color="primary"> Editar <i class="fa fa-edit"></i></button>
                                <button mat-raised-button color="warn" class="ml-4" (click)="deleteEnterprise(element.uid)"> Eliminar <i class="fa fa-trash"></i></button>
                            </td>   
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>
                    </table>
                    </div>
                </div>
            </div>            
        </div>
    </div>

