
.sidebar{
   
    background-color: #303F9F;
}

.white{
    color: white;
}

.example-header-image {
    background-image: url('https://i.stack.imgur.com/34AD2.jpg');
    background-size: cover;
  }
  .example-container {
    height: 400px;
    width: 550px;
    max-width: 100%;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }
  
  .icon~ .icon{
    margin-left: 16px;
}