 .bg-image{
    background-image: url("../../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }
 .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .card-header{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        background-color: black;
        color: white;
        text-transform: uppercase;
  }
  .subtitle{
    color: white;
  }
  .mat-card-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 30%;
  }

  .options{
    background-color: rgb(209, 206, 206);
  }

  .example-card {
    max-width: 100%;
    grid-row-start: auto;
  }
  

  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-vacante {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

.sidebar{
   
    background-color: #303F9F;
}

.white{
  color: white;
}



.container-principal{
  padding: 16px;
}