<app-navbar></app-navbar>
<div class="container-fluid  h-100">
    <div class ="row fullheight  h-100">
            <div class="col-lg-3 sidebar">
                <app-sidebar-enterprise></app-sidebar-enterprise>
            </div>
            <div class="col-lg-9 container-principal">
                <h1 class="principal-title">Ofertas Publicadas</h1>
                <button mat-raised-button color="primary"  [routerLink]="['/offer-registration']">Crear nueva oferta</button>
                <mat-card-header *ngIf="this.validateOffers.length==0">
                    <mat-card-title>No hay ofertas creadas para esta empresa </mat-card-title>
                    <mat-card-subtitle>:(</mat-card-subtitle>
                </mat-card-header>
                <div class="row">
                    <div class="col-md-6 mt-4" *ngFor="let validateOffer of validateOffers" >
                        <mat-card class="example-card">
                            <mat-card-header>
                                <mat-card-title>{{validateOffer.nombre}}</mat-card-title>
                                <mat-card-subtitle>{{validateOffer.area}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    <strong>Competencias: </strong>{{validateOffer.desCompetencias}}
                                </p>
                                <p>
                                    <strong>Conocimientos: </strong>{{validateOffer.desConocimientos}}
                                </p>
                                <p>
                                    <strong>Salario: </strong>{{validateOffer.salario}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <a mat-button color="accent">Ver Detalles</a>
                            </mat-card-actions>
                        </mat-card>
                    </div>

                </div>
            </div>
        </div>
</div>



<!--<div class="bg-image">
    <div class="container"> 
        <mat-card>
            <img mat-card-image src="https://coverfiles.alphacoders.com/412/41257.jpg" alt="Photo of enterprise">
            <mat-card-header class="card-header">
                <div  mat-card-avatar  class = "example-header-image" > </div > 
                <mat-card-title>Nombre de la empresa</mat-card-title>
                <mat-card-subtitle class="subtitle">Bienvenido a la bolsa de empleo</mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>
                <p>
                Descripción de la empresa, mision visión. Descripción de la empresa, mision visión. 
                Descripción de la empresa, mision visión. Descripción de la empresa, mision visión. 
                Descripción de la empresa, mision visión. Descripción de la empresa, mision visión. 
                Descripción de la empresa, mision visión. Descripción de la empresa, mision visión.
                </p>
            </mat-card-content>
            <mat-card-actions class="options">
            <button mat-button>Seguimientos</button>
            <button mat-button [matMenuTriggerFor]="belowMenu">Perfil Empresarial</button>
            <mat-menu #belowMenu="matMenu" yPosition="below">
                <button mat-menu-item>Editar Perfil</button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="beforeMenu">Administración de Ofertas</button>
                <mat-menu #beforeMenu="matMenu" yPosition="below">
                    <button mat-menu-item>Buscar Oferta</button>
                    <button mat-menu-item [routerLink]="['/offer-registration']">Crear Oferta</button>
                    <button mat-menu-item>Editar oferta</button>
                <button mat-menu-item [matMenuTriggerFor]="openO">Ofertas cerradas</button>
            </mat-menu>

            <mat-menu #openO="matMenu">
                <button mat-menu-item>Reactivar Oferta</button>
            </mat-menu>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="container mt-5"> 
        <mat-card>
            <mat-card-header class="ofertas">
                <mat-card-title>Ofertas Activas Opcion 1</mat-card-title>
                <mat-card-subtitle>Listado de Ofertas</mat-card-subtitle>
            </mat-card-header>

             <mat-card-header *ngIf="this.validateOffers.length==0">
                <mat-card-title>No hay ofertas creadas para esta empresa </mat-card-title>
                <mat-card-subtitle>:(</mat-card-subtitle>
              </mat-card-header>

            <div class="row mt-3">
                <div class="col-md-6 mt-4" *ngFor="let validateOffer of validateOffers" >
                    <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-title>{{validateOffer.nombre}}</mat-card-title>
                          <mat-card-subtitle>{{validateOffer.area}}</mat-card-subtitle>
                        </mat-card-header>
                         <mat-card-content>
                          <p>
                            {{validateOffer.descripcion}}
                          </p>

                          <label>Salario</label>
                          <p>
                            {{validateOffer.salario}}
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button  mat-raised-button color="primary">Ver Detalles</button>
                        </mat-card-actions>
                      </mat-card>
                </div>

            </div>
        </mat-card>
        <mat-paginator [length]="50"
            [pageSize]="5"
            [pageSizeOptions]="[2 , 5]">
        </mat-paginator>
    </div>

   <div class="container mt-5"> 
        <mat-card>
            <mat-card-header class="ofertas">
                <mat-card-title>Ofertas Activas Opción 2</mat-card-title>
                <mat-card-subtitle>Listado de Ofertas</mat-card-subtitle>
            </mat-card-header>

            <table mat-table
                [dataSource]="dataSource" multiTemplateDataRows
                class="mat-elevation-z8">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="example-element-diagram">
                        <div class="example-element-name"> {{element.name}} </div>
                        <div class="example-element-vacante"> {{element.vacante}} </div>
                    </div>
                    <div class="example-element-description">
                    {{element.description}}
                    </div>
                </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
        </mat-card>
    </div>
</div>-->