<app-navbar></app-navbar>
<div class="container-fluid  h-100">
  <div class ="row fullheight  h-100">
    <div class="col-lg-3 sidebar">
    <app-sidebar-candidate></app-sidebar-candidate> 
    </div>
    <div class="col-lg-9 container-principal">
        <div class="container-fluid mt-3 pc">
          <form action="" [formGroup]="form" (ngSubmit)="send()">
              <h1>Estudios</h1>
            <mat-card>
               <mat-card-title class="custom-card">Tu formación complementaria</mat-card-title>
               <mat-card-content>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Tipo de Estudio</mat-label>
                            <mat-select formControlName="tipoEstudio">
                              <mat-option value="option">Diplomado</mat-option>
                              <mat-option value="option">Seminario</mat-option>
                              <mat-option value="option">Certificación</mat-option>
                              <mat-option value="option">Taller</mat-option>
                              <mat-option value="option">Otro</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Titulo Otorgado</mat-label>
                          <input formControlName="tituloOtorgado" matInput placeholder="Titulo Otorgado">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Institución</mat-label>
                          <input formControlName="institucion" matInput placeholder="Institucion">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Fecha de Inicio</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="fechaInicio">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker [calendarHeaderComponent] ></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Fecha de Finalización</mat-label>
                            <input matInput [matDatepicker]="picker2" formControlName="fechaFinalizacion">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2 [calendarHeaderComponent] ></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Ciudad</mat-label>
                          <input formControlName="ciudad" matInput placeholder="Ciudad">
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Descripción del curso</mat-label>
                          <textarea matInput formControlName="descripcion"></textarea>
                        </mat-form-field>
                    </div>
                </div>
              </mat-card-content>              
            </mat-card>            
            <mat-card-actions>
                <div class="row">
                  <ng-template matStepLabel>Finalizar</ng-template>
                  <div class="col-md-12" style="text-align: center;">
                    <button mat-raised-button color="accent" mat-button type="submit">Adjuntar Certificado</button>
                    <button mat-raised-button color="primary" mat-button type="submit">Guardar Información</button>
                    <button mat-raised-button [routerLink]="['/candidate-cv']" color="primary" mat-button type="submit">Volver</button>
                  </div>
                </div>
            </mat-card-actions>
          </form>
        </div>
    </div>

  </div>
</div>