.bg-image {
    /* The image used */
    background-image: url("../../../../assets/background.jpg");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

.example-check~ .example-check{
    margin-left: 16px;
}

.sidebar{
  background-color: #303F9F;
}

.custom-card {
  background: rgb(207, 200, 200);
}