.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }

.sidebar{
   
    background-color: #303F9F;
}

.white{
    color: white;
}

.example-header-image {
    background-image: url('https://i.stack.imgur.com/34AD2.jpg');
    background-size: cover;
  }
