<app-navbar></app-navbar>
<div class="container-fluid  h-100">
        <div class ="row fullheight  h-100">
            <div class="col-lg-3 sidebar">
                    <app-sidebar-candidate></app-sidebar-candidate>
            </div>
            <div class="col-lg-9">
                <h2>Ofertas</h2>
                <div class="row">
                    <div class="col">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>Desarrollador de software</mat-card-title>
                                <mat-card-subtitle>Empresa ficticia</mat-card-subtitle>
                            </mat-card-header>
                        <mat-card-content>
                            <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                            </p>
                        </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>VER OFERTA</button>
                                <button mat-button>POSTULAR</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>Ingeniero de sistemas</mat-card-title>
                                <mat-card-subtitle>Empresa ficticia</mat-card-subtitle>
                            </mat-card-header>
                        <mat-card-content>
                            <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                            </p>
                        </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>VER OFERTA</button>
                                <button mat-button>POSTULAR</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>

