<div class="bg-image"></div>
<div class="container p-3 pc">
        <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      
            <mat-card class="example-card">
                 <mat-card-header>
                    <mat-card-title>Login</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Personas">
                        <form action="" [formGroup]="form"> 
                            <div class ="general-container">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Nombre de usuario</mat-label>
                                        <input formControlName="nombre" matInput placeholder="Username"  name="username" [(ngModel)]="userModel.email" required>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Contraseña</mat-label>
                                        <input formControlName="contraseña" matInput placeholder="Password" type="password" name="password" [(ngModel)]="userModel.password" required>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <button mat-raised-button color="primary" class="example-full-width" [disabled]="form.invalid" (click)="loginUser()">Login</button>
                                    <a mat-button class="example-full-width" [routerLink]="['/register-user']" >Crear usuario.</a>
                                </div> 
                            </div>
                        </form>
                        </mat-tab>
                        <mat-tab label="Empresas">
                           
                            <div class ="general-container">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>NIT empresa</mat-label>
                                        <input matInput placeholder="Username"  name="username" required [(ngModel)]="enterprise.email">
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Contraseña</mat-label>
                                        <input matInput placeholder="Password" type="password" name="password" required [(ngModel)]="enterprise.password">
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <button mat-raised-button color="primary" class="example-full-width" (click)="loginEnterprise()">Login empresa</button>
                                    <a mat-button class="example-full-width" [routerLink]="['/register-enterprise']" >Crear empresa.</a>
                                </div>     
                            </div>
                           
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </div>
 </div>
 