<div class="container p-3">
    <mat-list>
    <div mat-subheader class="white">Perfil Empresarial</div>
    <mat-list-item *ngFor="let enterprise of enterpriseOptions" [routerLink]="enterprise.link">
        <div mat-line class="white">{{enterprise.name}}</div>
    </mat-list-item>
    <mat-divider class="white"></mat-divider>
    </mat-list>

    <mat-list>
    <div mat-subheader class="white">Administración de ofertas</div>
    <mat-list-item *ngFor="let enterprise of enterpriseOffers" [routerLink]="enterprise.link">
        <div mat-line class="white">{{enterprise.name}}</div>
    </mat-list-item>
        <mat-divider class="white"></mat-divider>
    </mat-list>
</div> 
