<div class="bg-image"></div>
<div class="container mt-5 pc">
    <form action="" [formGroup]="form" (ngSubmit)="updateInfoEnterpraise()">
        <mat-card>
            <mat-card-title>Actualización de empresa</mat-card-title>
            <mat-card-content>
                <div class="row mt-5">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;"
                                    appearance="outline">
                                    <mat-label>Activar/Desactivar empresa</mat-label>
                                    <mat-select formControlName="activa" matInput placeholder="activa">
                                        <mat-option value="null">Ninguna</mat-option>
                                        <mat-option [value]=true>Activada</mat-option>
                                        <mat-option [value]=false>Desactivada</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                    <mat-label>NIT</mat-label>
                                    <input formControlName="nit" matInput placeholder="NIT">
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                    <mat-label>Actividad principal</mat-label>
                                    <input formControlName="actividadPrincipal" matInput
                                        placeholder="Actividad principal">
                                </mat-form-field>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col">
                                <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                    <mat-label>Email administrativo</mat-label>
                                    <input formControlName="email" matInput placeholder="Email">
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                    <mat-label>Confirmar Email</mat-label>
                                    <input formControlName="email2" matInput placeholder="Email">
                                </mat-form-field>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col">
                                <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                    <mat-label>Telefono</mat-label>
                                    <input formControlName="telefono" type="number" matInput placeholder="Telefono">
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                                    <mat-label>Dirección</mat-label>
                                    <input formControlName="direccion" matInput placeholder="Dirección">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Actualizar
                            empresa</button>
                        <a mat-raised-button [routerLink]="['/admin-profile']">Cancelar</a>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</div>